@media (max-width: 1200px) {
    .container {
        max-width: 850px;
    }
}
@media (max-width: 991px) {
    .header {
        padding: 0 30px;
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 11px;
        }
        span {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        padding-bottom: 65px;
        &__wrapper {
            margin-top: 75px;
            padding: 0 30px;
        }
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 22px;
        }
        &__icons {
            width: 380px;
        }
        .button {
            &_main {
                margin-top: 57px;
                width: 250px;
                font-size: 14px;
            }
        }
        &__link {
            font-size: 14px;
        }
    }
    .advantages {
        padding: 65px 0;
        &__wrapper {
            padding: 0 30px;
        }
        &__item {
            margin: 0 20px;
        }
    }
    .consultation {
        .title {
            font-size: 30px;
        }
        .consultation__descr {
            margin-top: 60px;
            font-size: 18px;
        }
        .feed-form {
            width: 285px;
        }
    }
}
@media (max-width: 767px) {
    .xs-visible {
        display: none;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        .title {
            font-size: 30px;
            text-align: center;
        }
        .consultation__descr {
            text-align: center;
            margin-top: 60px;
            font-size: 18px;
        }
        .feed-form {
            margin: 36px auto;
            width: 285px;
        }
    }
}
@media (max-width: 575px) {
    .promo {
        .header {
            &__phone {
                font-size: 12px;
                text-align: right;
            }
            .button {
                width: 130px;
                font-size: 10px;
            }
        }
        &__header {
            font-size: 22px;
            text-align: center;
        }
        &__subheader {
            font-size: 14px;
            text-align: center;
        }
        &__icons {
            margin-top: 35px;
            max-width: 250px;
        }
        &__icon {
            font-size: 10px;
        }
    }
    .advantages {
        .title {
            font-size: 20px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        &__wrapper {
            display: flex;
            flex-direction: column;
            padding: 0px 30px;
            .title {
                font-size: 22px;
                text-align: center;
            }
            .consultation__descr {
                text-align: center;
                margin-top: 60px;
                font-size: 14px;
            }
            .feed-form {
                margin: 36px auto;
                width: 285px;
            }
            input {
                margin: 0 auto;
                width: 260px;
            }
            .button {
                margin: 0 auto;
                width: 260px;
            }
        }
    }
}